<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %} Actividad</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos_actividades.css' %}">
</head>
<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %} Actividad</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% if form.instance.pk %}Actualizar{% else %}Guardar{% endif %}</button>
        </form>
        <a href="{% url 'listar_actividades' %}" class="button">Cancelar</a>
    </div>
</body>
</html>
