<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Docente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos_docentes.css' %}">
    
</head>
<body>
    <div class="container">
        <h1>Actualizar Docente</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{ form.nombre.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="segundo_nombre">Segundo Nombre:</label>
                <input type="text" id="segundo_nombre" name="segundo_nombre" value="{{ form.segundo_nombre.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" value="{{ form.apellido.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="segundo_apellido">Segundo Apellido:</label>
                <input type="text" id="segundo_apellido" name="segundo_apellido" value="{{ form.segundo_apellido.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="asignatura">Asignatura:</label>
                <input type="text" id="asignatura" name="asignatura" value="{{ form.asignatura.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" value="{{ form.usuario.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="text" id="contrasena" name="contrasena" value="{{ form.contrasena.value }}" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Actualizar Docente</button>
            <a href="{% url 'listar_docentes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
