/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    background: url('../img/fondo.jpg') repeat;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor Principal */
.main-container {
    width: 90%;
    max-width: 1200px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

/* Encabezado */
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.header h1 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.header p {
    font-size: 1.1rem;
}

/* Paneles */
.panel {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.panel h2 {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-bottom: 15px;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

button, .test-button {
    display: block;
    width: 100%;
    background-color: #3498db;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover, .test-button:hover {
    background-color: #2980b9;
}

.test-button {
    background-color: #e74c3c;
}

.test-button:hover {
    background-color: #c0392b;
}

/* Recomendaciones */
#recommendations-content p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
}

.logout-button {
    color: #fff;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #222;
}
